#
/node_modules
/yarn.lock
/package-lock.json
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/public

# client
/client/node_modules
/client/yarn.lock
/client/package-lock.json
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/build

# server
/server/node_modules
/server/yarn.lock
/server/package-lock.json
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

# env
.env
.env.development
.env.production
